.left-column {
    width: 70%;
    padding-left: 20px;
}

@media (max-width: 1200px) {
    .left-column {
        width: 100%;
        padding-left: 18px;
    }
}

@media (max-width: 992px) {
    .left-column {
        width: 100%;
        padding-left: 15px;
    }
}

@media (max-width: 768px) {
    .left-column {
        width: 100%;
        padding-left: 10px;
    }
}

@media (max-width: 576px) {
    .left-column {
        width: 100%;
        padding-left: 10px;
    }
}
