.right-column {
    width: 30%;
    padding-right: 20px;
}

@media (max-width: 1200px) {
    .right-column {
        width: 35%;
        padding-right: 18px;
        margin-left: 20px;
    }
}

@media (max-width: 992px) {
    .right-column {
        width: 40%;
        padding-right: 15px;
        margin: 10px;
    }
}

@media (max-width: 768px) {
    .right-column {
        width: 100%;
        padding-right: 0;
        margin-right: 10px;
    }
}

@media (max-width: 576px) {
    .right-column {
        width: 100%;
        padding-right: 0;
    }
}
